body {
  margin: 0px;
}

.section-one {
  background-image: url(images/drew-coffman-1872.jpg);
  height: 768px;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav {
  height: 85px;
  font-weight: bold;
}

.logo {
  display: inline-block;
  width: 48%;
  height: 80%;
}

.section-one .nav .logo a img {
  display: inline-block;
  height: 100%;
  margin: 10px 0 0 12%;
}

.links {
  display: inline-block;
  width: 48%;
  margin-top: 36px;
  position: absolute;
}

li {
  list-style: none;
  display: inline-block;
  width: 28%;
}

a {
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
}

.home-p,
h1,
.welcome {
  text-align: center;
  color: #ffffff;
}

.welcome {
  font-size: 20px;
  color: #ffffff;
}

.home-p {
  font-size: 25px;
}

h1 {
  font-size: 50px;
}

.contact-us,
.learn-more {
  display: inline-block;
  position: relative;
  top: 50px;
  width: 100px;
  height: 40px;
  background-color: #8e7754;
  color: #ffffff;
  border: 2px solid transparent;
  border-radius: 5px;
  font-size: 16px;
}

.learn-more {
  left: 42%;
}

.contact-us {
  left: 43%;
  border: 2px solid white;
  background-color: transparent;
}

.section-two {
  height: 768px;
}

.sec2-img, .sec2-content {
  width: 50%;
  height: 100%;
  float: left;
}

.sec2-img img {
  width: 80%;
  /* height: 80%; */
  position: relative;
  top: 15%;
  left: 20%;
}

.sec2-icons {
  width: 50px;
  border: 1px solid #8E7754;
  border-radius: 25px;
  margin-right: 20px;
}

.sec2-point,.sec2-icons {
  display: inline-block;
}

.sec2-content {
  position: relative;
  top: 22%;
}

.sec2-title, .sec2-p, .sec2-icons {
  margin-left: 15%;
}

.sec2-title {
  font-size: 28px;
}

.sec2-p {
  font-size: 19px;
  margin: 10px 0 50px 15%;
}

.sec2-point {
  font-size: 20px;
}

.section-three {
  height: 768px;
}

.sec3-img, .sec3-content {
  width: 50%;
  height: 100%;
  float: left;
}

.sec3-img img{
  width: 90%;
}

.sec3-title,
.sec3-p1,
.sec3-p2 {
  margin: 0 10% 0 10%;
}